:root {
  --linear-gradient-orange: linear-gradient(to right, #ce4912, #f36b1c);
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
}

.wrapper {
  margin: 0 auto;
  width: 90%;
  max-width: 567px;
}

/* header */

header {
  background: var(--linear-gradient-orange);
  padding: 1em 0;
  color: #fff;
}

header div {
  display: flex;
  align-items: center;
}

.header--icon {
  width: 3em;
}

.header--title {
  margin-right: auto;
  margin-left: 0.5em;
}

.header--title,
.header--subtitle {
  font-size: 1.2rem;
}

/* Main section */

main {
  margin: 2rem 0;
}

form div {
  display: flex;
  flex-direction: column;
}

input {
  border: 2px solid #d5d4d8;
  margin-bottom: 1em;
}

input,
button {
  border-radius: 5px;
  padding: 1em;
}

button {
  border: none;
  background: var(--linear-gradient-orange);
  cursor: pointer;
  margin-bottom: 2em;
  color: #fff;
}

/* Meme */

.meme {
  position: relative;
}

.meme--image {
  max-width: 100%;
  border-radius: 5px;
}

.meme--text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
    -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000,
    2px 2px 5px #000;
}

.top {
  top: 0;
}

.bottom {
  bottom: 0;
}
